.orange-grid {
    display: flex;
    grid-template-columns: repeat(3, 100px); /* Adjust as needed */
    grid-template-rows: repeat(2, 150px); /* Adjust as needed */
    gap: 5px; /* Adjust as needed */
    width: 250px;
    
  }
  
  .tile {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
  .tile:nth-child(3n+1) {
    background-color: #FFA500; 
  }
  
  .tile:nth-child(3n+2) {
    background-color: #dc957b; 
  }
  
  .tile:nth-child(3n+3) {
    background-color: #8b2e1e; 
  }
  