/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('card-pattern.png'); /* Replace 'background-image.jpg' with the path to your background image */
    background-color: black;
    
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7); /* Add some transparency to the navbar background */
    color: #ffffff;
    padding: 20px;
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-size: 40px;
    background-image: url(circuit-pattern.png);

                                                
                                                
}

#searchInput {
    width: 600px;
    padding: 10px;
    margin-left: 30px;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'UNITED BRK', sans-serif;
    
                                                
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.robot-card {
    width: 250px;
    background-color: rgb(60, 83, 197) ;
    background-image: url(circuit-pattern.png);
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.robot-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.robot-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.robot-card p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}
