@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add Pixelated Font for Specific Components */
.start-container,
.game-board,
.start-button,
.quit-button,
.restart-button {
  font-family: 'Press Start 2P', cursive;
  color: #fff; /* Ensure text color is visible */
}

/* Keyframes for Logo Spin Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
